@import url("https://fonts.googleapis.com/css?family=Rubik:400&display=swap");
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
* body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Rubik;
  font-size: 18px;
}
* li{
  list-style: none;
}
* a{
  text-decoration: none;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10vw;
  align-items: center;
}
.nav-links ul li{
  display: inline-flex;
  margin-left: 25px;
}
.nav-links ul li a{
  color: hsl(229, 8%, 60%);
  font-weight: 500;
}

.btn{
  color: #fff;
  font-weight: 400;
  background-color: hsl(0, 94%, 66%);
  align-items: center;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}
footer{
  background-color: hsl(229, 31%, 21%);
  display: flex;
  justify-content: space-between;
}

footer .nav-links li{
  vertical-align: middle;
}
footer .nav-links ul li a{
  color: #fff;
}
.socials {
  margin-right: 8vw;
}
.socials ul li{
  display: inline-flex;
  margin-right:25px;
}
.call-action{
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  width: 100%;
  height: 100%;
}
.c-a{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn2{
  width: 150px;
  height: 40px;
}
form {
  margin-top: 30px;
  margin-bottom: 30px;
}
form input[type=text]{
  height: 20px;
  border-radius: 4px;
  border: none;
  padding: 10px;
}
.faq{
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px auto;
}
.faq h1{
  margin-top: 50px;
}
.faq p{
  margin: 0 400px;
  text-align: center;
  padding-bottom: 20px;
  color: hsl(229, 8%, 60%);
}
.questions{
  margin-top: 20px;
}

.collapsible {
  background-color: #fff;
  color: black;
  font-weight: 500;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 25%;
  border-top: 1px solid gainsboro;
}

.active, .collapsible:hover {
  background-color: rgb(241, 234, 234);
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
}

.info{
  margin-left: 40%;
  margin-top: 5%;
  background-color: hsl(231, 69%, 60%);
  width: 100px;
}

/*extension styles*/

.extension{
  background-color: #fff;
  padding-top: 30px;
  margin-top: 30px;
  height: 100vh;
}
.browsers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;

}
.browser{
background-color: white;
width: 250px;
margin-right: 10px;
height: 350px;
}
.browser img{
  align-self: center;
  padding: 20px 33%;
}
.brws{
  color: #fff;
  font-weight: 400;
  background-color: hsl(228, 45%, 44%);
  align-items: center;
  height: 35px;
  width: 205px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}
.writing{
  text-align: center;
}
.writing h3{
  margin-bottom:50px;
  color: hsl(229, 8%, 60%);
  font-size: 14px;
  text-align: center;
}
.shadow {
  box-shadow: 4px 3px 5px 0px rgba(222,206,222,1);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.b2{
  margin-top: 20px;
}
.b3{
  margin-top: 40px;
}
.extension h1 {
  text-align: center;
}
.extension p {
  text-align: center;
  padding: 20px 300px;
  color: hsl(225, 3%, 50%)
}
.bookmarks{
  padding-top: 60px;
  width: 100vw;
  height: 90vh;
  display: inline-flex;
}
.imag{
  margin-left: 10vw;
}
.bms{
  margin-left: 100px;
}
.bkmk{
  color: #fff;
  font-weight: 400;
  background-color: hsl(228, 45%, 44%);
  align-items: center;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}
.bms p{
  color: hsl(225, 3%, 50%)
}
.manager{
  display: inline-flex;
  width: 100vw;
  height: 100vh;
}
.mgr{
margin-left: 10vw;
}
.mgr h1{
font-size: 40px;
font-weight: 800;
}
.mgr p{
  color: hsl(225, 3%, 50%);
  line-height: 1.6em;
}
.imags{
  margin-right: 4vw;
}
.btns{
  color: #fff;
  font-weight: 400;
  background-color: hsl(228, 45%, 44%);
  align-items: center;
  height: 35px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}
.btns1{
  background-color: hsl(224, 19%, 88%);
  color: black;
}
.feats{
height: 60vh;
text-align: center;
}
.fts p{
  color: hsl(225, 3%, 50%);
  line-height: 1.6em;
}

.options ul{
  display: inline-flex;
  margin-right: 30px;
}
.options ul li{
  margin: auto 20px;
  color: hsl(225, 3%, 50%);
  border-bottom: 4px solid gray;
  padding-bottom: 20px;
}
